<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="condep1">개  요</div>
<p></p></div>
<div class="condep2">제․개정 경과</div>
<p></p></div>
<div class="condep7">한국회계기준원 회계기준위원회는 국제회계기준위원회가 제정한 국제회계기준을 채택하여 기업회계기준의 일부로 구성하기로 한 정책에 따라 이 기준서를 다음과 같이 제․개정하였다.</div>
<p></p></div>

<p></p></div>
<div class="condep7">이 기준서는 타 기준서의 제·개정에 따라 다음과 같이 개정되었다<sup>1)</sup>.</div>

<p></p></div>
<div class="condep7">1) 아래 표의 순서는 개정안에 대한 최근 공표일 순으로 표시된다. 기업회계기준서 제1110호 ‘연결재무제표’와 기업회계기준서 제1112호 ‘타 기업에 대한 지분의 공시’의 제정의결일은 2011년 11월 18일이나 공표일은 2012년 11월 28일이므로, 기업회계기준서 제1113호 ‘공정가치 측정’보다는 최근에 공표된 것이다.</div>
<p></p></div>
<div class="condep7">이 기준서는 전기재무제표 및 다른 기업의 재무제표와 비교할 수 있도록 일반목적 재무제표의 표시에 관한 기준을 정하고 있다. </div>
<p></p></div>
<div class="condep2">이 기준서의 주요 특징</div>
<p></p></div>
<div class="condep2">1</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">2</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">3</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">4</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">5</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">6</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">7</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">8</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">9</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">10</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">11</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">12</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<p></p></div>
<div class="condep2">13</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">14</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">15</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">16</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">17</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">18</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">19</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">20</div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<div class="condep9"></div>
<p></p></div>
<div class="condep2">21</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep2">22</div>
<p></p></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep8"></div>
<div class="condep8"></div>
<div class="condep8"></div>
<p></p></div>
<div class="condep1">국제회계기준과의 관계</div>
<p></p></div>
<div class="condep2">기업회계기준서 제1001호와 국제회계기준 제1호(IAS 1) </div>
<p></p></div>
<div class="condep7">기업회계기준서 제1001호는 국제회계기준위원회가 제정한 국제회계기준 제1호(IAS 1) ‘재무제표 표시(Presentation of Financial Statements)’에 대응하는 기준이다. </div>
<p></p></div>
<div class="condep7">한국의 법률체계와 일관성을 유지하기 위하여 형식적인 부분이 제한적으로 수정되었다. 즉, 한국채택국제회계기준의 의무적용대상기업과 적용시기를 명시하기 위하여 문단 한2.1, 한139.1, 한139.2가 추가되었으며, 한국의 법률체계와 일관성을 유지하기 위하여 한138.1이 추가되었고, 일관성 있는 영업이익(또는 영업손실) 공시를 위해 한138.2, 한138.3, 한138.4가 추가되었다. 한국채택국제회계기준을 준수하여 작성된 재무제표는 국제회계기준을 준수하여 작성된 재무제표임을 공시할 수 있도록 문단 한16.1이 추가되었다. 적용시기 이후 최초채택기업으로서 이 기준서를 적용하게 됨에 따라 시행일과 경과규정, 기준서 등의 대체와 관련된 문단 139, 139B, 139C, 140이 삭제되었다. 이러한 수정을 명시적으로 표시하기 위하여 동 국제회계기준에 추가한 문단은 관련된 국제회계기준 문단번호에 ‘한’이라는 접두어를 붙여 구분 표시하였다. 그리고 동 국제회계기준의 문단을 삭제한 경우는 관련된 국제회계기준 문단번호 옆에 ‘[한국회계기준원 회계기준위원회가 삭제함]’이라고 표시하였다.</div>
<p></p></div>
<div class="condep2">국제회계기준 제1호(IAS 1)의 준수</div>
<p></p></div>
<div class="condep7">형식과 관련하여 수정된 위의 문단들을 제외하고는 기업회계기준서 제1001호가 IAS 1의 내용에 근거하여 제정되었기 때문에 기업회계기준서 제1001호를 준수하면 동시에 IAS 1을 준수하는 것이 된다. </div>
<p></p></div>
<p></p></div>
<div class="condep0">기업회계기준서 제1001호 재무제표 표시</div>
<p></p></div>
<p></p></div>
<div class="condep1">목적</div>
<p></p></div>
<div class="condep5">1</div>
<p></p></div>
<div class="condep1">적용</div>
<p></p></div>
<div class="condep5">한2.1</div>
<p></p></div>
<div class="condep1">적용범위</div>
<p></p></div>
<div class="condep5">2</div>
<p></p></div>
<div class="condep5">3</div>
<p></p></div>
<div class="condep5">4</div>
<p></p></div>
<div class="condep5">5</div>
<p></p></div>
<div class="condep5">6</div>
<p></p></div>
<div class="condep1">용어의 정의</div>
<p></p></div>
<div class="condep5">7</div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">8</div>
<p></p></div>
<div class="condep5">8A</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<p></p></div>
<div class="condep1">재무제표</div>
<p></p></div>
<div class="condep2">재무제표의 목적</div>
<p></p></div>
<div class="condep5">9</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="confn"></div>
<p></p></div>
<div class="condep2">전체 재무제표</div>
<p></p></div>
<div class="condep5">10</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">한10.1</div>
<p></p></div>
<div class="condep5">10A</div>
<p></p></div>
<div class="condep5">11</div>
<p></p></div>
<div class="condep5">12</div>
<p></p></div>
<div class="condep5">13</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">14</div>
<p></p></div>
<div class="condep2">일반사항</div>
<p></p></div>
<div class="condep3">공정한 표시와 한국채택국제회계기준의 준수</div>
<p></p></div>
<div class="condep5">15</div>
<p></p></div>
<div class="condep5">16</div>
<p></p></div>
<div class="condep5">한16.1</div>
<p></p></div>
<div class="condep5">17</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">18</div>
<p></p></div>
<div class="condep5">19</div>
<p></p></div>
<div class="condep5">20</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">21</div>
<p></p></div>
<div class="condep5">22</div>
<p></p></div>
<div class="condep5">23</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">24</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep3">계속기업</div>
<p></p></div>
<div class="condep5">25</div>
<p></p></div>
<div class="condep5">26</div>
<p></p></div>
<div class="condep3">발생기준 회계</div>
<p></p></div>
<div class="condep5">27</div>
<p></p></div>
<div class="condep5">28</div>
<p></p></div>
<div class="condep3">중요성과 통합표시</div>
<p></p></div>
<div class="condep5">29</div>
<p></p></div>
<div class="condep5">30</div>
<p></p></div>
<div class="condep5">30A</div>
<p></p></div>
<div class="condep5">31</div>
<p></p></div>
<div class="condep3">상계</div>
<p></p></div>
<div class="condep5">32</div>
<p></p></div>
<div class="condep5">33</div>
<p></p></div>
<div class="condep5">34</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">35</div>
<p></p></div>
<div class="condep3">보고빈도</div>
<p></p></div>
<div class="condep5">36</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">37</div>
<p></p></div>
<div class="condep3">비교정보</div>
<p></p></div>
<div class="condep4">최소한의 비교정보</div>
<p></p></div>
<div class="condep5">38</div>
<p></p></div>
<div class="condep5">38A</div>
<p></p></div>
<div class="condep5">38B</div>
<p></p></div>
<div class="condep4">추가 비교정보</div>
<p></p></div>
<div class="condep5">38C</div>
<p></p></div>
<div class="condep5">38D</div>
<p></p></div>
<div class="condep5">39</div>
<p></p></div>
<div class="condep5">40</div>
<p></p></div>
<div class="condep4">회계정책 변경, 소급재작성 또는 소급재분류</div>
<p></p></div>
<div class="condep5">40A</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">40B</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">40C</div>
<p></p></div>
<div class="condep5">40D</div>
<p></p></div>
<div class="condep5">41</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">42</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">43</div>
<p></p></div>
<div class="condep5">44</div>
<p></p></div>
<div class="condep3">표시의 계속성</div>
<p></p></div>
<div class="condep5">45</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">46</div>
<p></p></div>
<div class="condep1">구조와 내용</div>
<p></p></div>
<div class="condep2">개요</div>
<p></p></div>
<div class="condep5">47</div>
<p></p></div>
<div class="condep5">48</div>
<p></p></div>
<div class="condep2">재무제표의 식별</div>
<p></p></div>
<div class="condep5">49</div>
<p></p></div>
<div class="condep5">50</div>
<p></p></div>
<div class="condep5">51</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">52</div>
<p></p></div>
<div class="condep5">53</div>
<p></p></div>
<div class="condep2">재무상태표</div>
<p></p></div>
<div class="condep3">재무상태표에 표시되는 정보</div>
<p></p></div>
<div class="condep5">54</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">55</div>
<p></p></div>
<div class="condep5">55A</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">56</div>
<p></p></div>
<div class="condep5">57</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">58</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">59</div>
<p></p></div>
<div class="condep3">유동과 비유동의 구분</div>
<p></p></div>
<div class="condep5">60</div>
<p></p></div>
<div class="condep5">61</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">62</div>
<p></p></div>
<div class="condep5">63</div>
<p></p></div>
<div class="condep5">64</div>
<p></p></div>
<div class="condep5">65</div>
<p></p></div>
<div class="condep3">유동자산</div>
<p></p></div>
<div class="condep5">66</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">67</div>
<p></p></div>
<div class="condep5">68</div>
<p></p></div>
<div class="condep3">유동부채</div>
<p></p></div>
<div class="condep5">69</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">70</div>
<p></p></div>
<div class="condep5">71</div>
<p></p></div>
<div class="condep5">72</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">73</div>
<p></p></div>
<div class="condep5">74</div>
<p></p></div>
<div class="condep5">75</div>
<p></p></div>
<div class="condep5">76</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep3">재무상태표 또는 주석에 표시되는 정보</div>
<p></p></div>
<div class="condep5">77</div>
<p></p></div>
<div class="condep5">78</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">79</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">80</div>
<p></p></div>
<div class="condep5">80A</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep2">포괄손익계산서</div>
<p></p></div>
<div class="condep5">81</div>
<p></p></div>
<div class="condep5">81A</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">81B</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep3">당기손익 부분 또는 손익계산서에 표시되는 정보</div>
<p></p></div>
<div class="condep5">82</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep3">기타포괄손익 부분에 표시되는 정보</div>
<p></p></div>
<div class="condep5">82A</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">83</div>
<p></p></div>
<div class="condep5">84</div>
<p></p></div>
<div class="condep5">85</div>
<p></p></div>
<div class="condep5">85A</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">85B</div>
<p></p></div>
<div class="condep5">86</div>
<p></p></div>
<div class="condep5">87</div>
<p></p></div>
<div class="condep3">당기순손익</div>
<p></p></div>
<div class="condep5">88</div>
<p></p></div>
<div class="condep5">89</div>
<p></p></div>
<div class="condep3">기타포괄손익</div>
<p></p></div>
<div class="condep5">90</div>
<p></p></div>
<div class="condep5">91</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">92</div>
<p></p></div>
<div class="condep5">93</div>
<p></p></div>
<div class="condep5">94</div>
<p></p></div>
<div class="condep5">95</div>
<p></p></div>
<div class="condep5">96</div>
<p></p></div>
<div class="condep3">포괄손익계산서 또는 주석에 표시되는 정보</div>
<p></p></div>
<div class="condep5">97</div>
<p></p></div>
<div class="condep5">98</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">99</div>
<p></p></div>
<div class="condep5">100</div>
<p></p></div>
<div class="condep5">101</div>
<p></p></div>
<div class="condep5">102</div>
<p></p></div>

<div class="confn"></div>
<p></p></div>
<div class="condep5">103</div>
<p></p></div>

<div class="confn"></div>
<p></p></div>
<div class="condep5">104</div>
<p></p></div>
<div class="condep5">105</div>
<p></p></div>
<div class="condep2">자본변동표</div>
<p></p></div>
<div class="condep3">자본변동표에 표시되어야 하는 정보</div>
<p></p></div>
<div class="condep5">106</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep3">자본변동표나 주석에 표시되어야 하는 정보</div>
<p></p></div>
<div class="condep5">106A</div>
<p></p></div>
<div class="condep5">107</div>
<p></p></div>
<div class="condep5">108</div>
<p></p></div>
<div class="condep5">109</div>
<p></p></div>
<div class="condep5">110</div>
<p></p></div>
<div class="condep2">현금흐름표</div>
<p></p></div>
<div class="condep5">111</div>
<p></p></div>
<div class="condep2">주석</div>
<p></p></div>
<div class="condep3">구조</div>
<p></p></div>
<div class="condep5">112</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">113</div>
<p></p></div>
<div class="condep5">114</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">115</div>
<p></p></div>
<div class="condep5">116</div>
<p></p></div>
<div class="condep3">회계정책의 공시</div>
<p></p></div>
<div class="condep5">117</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">118</div>
<p></p></div>
<div class="condep5">119</div>
<p></p></div>
<div class="condep5">120</div>
<p></p></div>
<div class="condep5">121</div>
<p></p></div>
<div class="condep5">122</div>
<p></p></div>
<div class="condep5">123</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">124</div>
<p></p></div>
<div class="condep3">추정 불확실성의 원천</div>
<p></p></div>
<div class="condep5">125</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">126</div>
<p></p></div>
<div class="condep5">127</div>
<p></p></div>
<div class="condep5">128</div>
<p></p></div>
<div class="condep5">129</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">130</div>
<p></p></div>
<div class="condep5">131</div>
<p></p></div>
<div class="condep5">132</div>
<p></p></div>
<div class="condep5">133</div>
<p></p></div>
<div class="condep3">자본</div>
<p></p></div>
<div class="condep5">134</div>
<p></p></div>
<div class="condep5">135</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">136</div>
<p></p></div>
<div class="condep3">자본으로 분류되는 풋가능 금융상품</div>
<p></p></div>
<div class="condep5">136A</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep3">기타 공시</div>
<p></p></div>
<div class="condep5">137</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">138</div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<div class="condep5">한138.1</div>
<p></p></div>
<div class="condep5">한138.2</div>
<p></p></div>
<div class="condep5">한138.3</div>
<p></p></div>
<div class="condep5">한138.4</div>
<div class="condep5"></div>
<div class="condep5"></div>
<p></p></div>
<p></p></div>
<div class="condep1">시행일과 경과규정</div>
<p></p></div>
<div class="condep5">139</div>
<p></p></div>
<div class="condep5">한139.1</div>
<p></p></div>
<div class="condep5">한139.2</div>
<p></p></div>
<div class="condep5">139A</div>
<p></p></div>
<div class="condep5">139B</div>
<p></p></div>
<div class="condep5">139C</div>
<p></p></div>
<div class="condep5">139D</div>
<p></p></div>
<div class="condep5">한139D.1</div>
<p></p></div>
<div class="condep5">139E</div>
<p></p></div>
<div class="condep5">139F</div>
<p></p></div>
<div class="condep5">139G</div>
<p></p></div>
<div class="condep5">139H</div>
<p></p></div>
<div class="condep5">139I</div>
<p></p></div>
<div class="condep5">139J</div>
<p></p></div>
<div class="condep5">139K </div>
<p></p></div>
<div class="condep5">한139K.1</div>
<p></p></div>
<div class="condep5">139L</div>
<p></p></div>
<div class="condep5">139M</div>
<p></p></div>
<div class="condep5">139N </div>
<p></p></div>
<div class="condep5">139O</div>
<p></p></div>
<div class="condep5">139P</div>
<p></p></div>
<div class="condep5">139Q</div>
<p></p></div>
<div class="condep5">139R</div>
<p></p></div>
<div class="condep5">139S</div>
<p></p></div>
<div class="condep5">139T</div>
<p></p></div>
<p></p></div>
<div class="condep1">기준서 등의 대체 </div>
<p></p></div>
<div class="condep5">140</div>
<p></p></div>
<div class="condep1">기업회계기준서 제1001호의 제정에 대한 회계기준위원회의 의결</div>
<p></p></div>
<div class="condep2">기업회계기준서 제1001호 ‘재무제표 표시’의 제정(2007.11.23.)은 회계기준위원회 위원 7인 전원의 찬성으로 의결하였다.</div>
<p></p></div>
<div class="condep7">회계기준위원회 위원:</div>
<div class="condep7">이효익(위원장)</div>
<div class="condep7">서정우(상임위원)</div>
<div class="condep7">김성남</div>
<div class="condep7">윤순석</div>
<div class="condep7">최상태</div>
<div class="condep7">황성식</div>
<div class="condep7">황인태</div>
<p></p></div>
<div class="condep2">기업회계기준서 제1001호 ‘재무제표 표시’의 개정(2008.10.24.)은 회계기준위원회 위원 7인 전원의 찬성으로 의결하였다.</div>
<p></p></div>
<div class="condep7">회계기준위원회 위원:</div>
<div class="condep7">서정우(위원장)</div>
<div class="condep7">김찬홍(상임위원)</div>
<div class="condep7">김성남</div>
<div class="condep7">윤순석</div>
<div class="condep7">최상태</div>
<div class="condep7">황성식</div>
<div class="condep7">황인태</div>
<p></p></div>
<div class="condep2">기업회계기준서 제1001호 ‘재무제표 표시’의 개정(2009.2.13.)은 회계기준위원회가 위원 7인 전원의 찬성으로 의결하였다.</div>
<p></p></div>
<div class="condep7">회계기준위원회 위원:</div>
<div class="condep7">서정우(위원장)</div>
<div class="condep7">김찬홍(상임위원)</div>
<div class="condep7">김성남</div>
<div class="condep7">윤순석</div>
<div class="condep7">최상태</div>
<div class="condep7">황성식</div>
<div class="condep7">황인태</div>
<p></p></div>
<div class="condep2">기업회계기준서 제1001호 ‘재무제표 표시’의 개정(2010.11.19.)은 회계기준위원회가 위원 7인 중 6인의 찬성으로 의결하였다. 최관 위원은 개정에 반대하였다.</div>
<p></p></div>
<div class="condep7">회계기준위원회 위원:</div>
<div class="condep7">서정우(위원장)</div>
<div class="condep7">김찬홍(상임위원)</div>
<div class="condep7">고완석</div>
<div class="condep7">박영진</div>
<div class="condep7">변용희</div>
<div class="condep7">전  괄</div>
<div class="condep7">최  관</div>
<p></p></div>
<div class="condep2">기업회계기준서 제1001호 ‘재무제표 표시’의 개정(2012.1.27.)은 회계기준위원회가 위원 7인 전원의 찬성으로 의결하였다.</div>
<p></p></div>
<div class="condep7">회계기준위원회 위원:</div>
<div class="condep7">임석식(위원장)</div>
<div class="condep7">김찬홍(상임위원)</div>
<div class="condep7">고완석</div>
<div class="condep7">박영진</div>
<div class="condep7">변용희</div>
<div class="condep7">전  괄</div>
<div class="condep7">최  관</div>
<p></p></div>
<div class="condep2">기업회계기준서 제1001호 ‘재무제표 표시’의 개정(2012.9.28.)은 회계기준위원회 위원 7인 중 6인의 찬성으로 의결하였다. 최신형 위원은 개정에 반대하였다.</div>
<p></p></div>
<div class="condep7">회계기준위원회 위원:</div>
<div class="condep7">임석식(위원장)</div>
<div class="condep7">김찬홍(상임위원)</div>
<div class="condep7">고완석</div>
<div class="condep7">권수영</div>
<div class="condep7">안영균</div>
<div class="condep7">전  괄</div>
<div class="condep7">최신형</div>
<p></p></div>
<div class="condep2">기업회계기준서 제1001호 ‘재무제표 표시’의 개정(2015. 5. 26.)은 회계기준위원회 위원 7명 전원의 찬성으로 의결하였다.</div>
<p></p></div>
<div class="condep7">회계기준위원회 위원:</div>
<div class="condep7">장지인(위원장)</div>
<div class="condep7">권성수(상임위원)</div>
<div class="condep7">신병일</div>
<div class="condep7">이기영</div>
<div class="condep7">전영교</div>
<div class="condep7">한봉희</div>
<div class="condep7">한종수</div>
<p></p></div>
<div class="condep2">기업회계기준서 제1001호 ‘재무제표 표시’의 개정(2019. 4. 19.)은 회계기준위원회 위원 9명 전원의 찬성으로 의결하였다.</div>
<p></p></div>
<div class="condep7">회계기준위원회 위원:</div>
<div class="condep7">김의형(위원장)</div>
<div class="condep7">박세환(상임위원)</div>
<div class="condep7">김동욱</div>
<div class="condep7">김영석</div>
<div class="condep7">이기화</div>
<div class="condep7">이경</div>
<div class="condep7">이명곤</div>
<div class="condep7">박희춘</div>
<div class="condep7">정석우</div>
<p></p></div>

</body>
</html>