<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAAP</title>

    <!-- style sheet 연결 -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header-black">
        <div class="logo-black">
            Logo
        </div>
        <div class="menu-black">
            <ul>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn-black">K-IFRS ▼</a>
                    <div class="dropdown-content">
                        <a href="#">기준서</a>
                        <a href="#">질의회신</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn-black">일반기업회계기준 ▼</a>
                    <div class="dropdown-content">
                        <a href="#">기준서</a>
                        <a href="#">질의회신</a>
                    </div>
                </li>
                <li class="dropbtn-black">
                    로그인
                </li>

            </ul>
        </div>
    </div>





    <div class="wrap">
        <div class="title">
            가장 빠른 회계 검색
        </div>
        <form>
            <label class="box-radio-input"><input type="radio" name="std" value="kifrs" checked="checked" /> <span>K-IFRS</span></label>
            <label class="box-radio-input"><input type="radio" name="std" value="kifsfaq" /> <span>K-IFRS 질의회신</span></label>
            <label class="box-radio-input"><input type="radio" name="std" value="kgaap" /> <span>일반기업회계기준</span></label>
            <label class="box-radio-input"><input type="radio" name="std" value="kgaapfaq" /> <span>일반기업 질의회신</span></label>

        </form>
        <input class="mainsearch" type="search" placeholder="기준을 선택 후 검색하세요" />
    </div>




</body>

</html>