{% extends "layout.html" %}

{% block sub_nav %}
<!-- SUB-NAV   -->
<div class="sub-nav bg-primary font-white" style="position:fixed; top:0; margin-top: 56px;" id="sub-nav">
    한국채택국제회계기준 (K-IFRS)
</div>
{% endblock %}

{% block container %}
<!-- container -->
<div class="container-fluid" style="position:fixed; top:0; margin-top: 112px;" id="container">

    <!-- 플로팅 버튼 -->
    <div style="position: fixed; bottom: 1em; right: 2em; margin:0; padding:0; z-index: 1; display:block;"
        class="d-xl-none d-lg-none ">
        <!-- local 버튼이미지 -->
        <!-- <a id="std-btn" onclick="openclose()" href="#" role="button"><img src="list.png"></a> -->
        <!-- flask용 버튼이미지 -->
        <a onclick="openclose()" href="#" role="button"><img src="{{ url_for('static', filename='list.png') }}"></a>

    </div>

    <!-- 내용표시부분 -->
    <div class="row">
        <div class="col-lg-4 border-right d-none d-lg-block" id="std-btn" style="padding:0">
            <div class="std-select-box">
                <select class="form-control btn-outline-secondary" style="width: 100%;" id="std-select">
                    <option value="1101">제1101호 한국채택국제회계기준의 최초채택</option>
                    <option value="1102">제1102호 주식기준보상</option>
                    <option value="1103">제1103호 사업결합</option>
                    <option value="1104">제1104호 보험계약</option>
                    <option value="1105">제1105호 매각예정비유동자산과 중단영업</option>
                    <option value="1106">제1106호 광물자원의 탐사와 평가</option>
                    <option value="1107">제1107호 금융상품: 공시</option>
                    <option value="1108">제1108호 영업부문</option>
                    <option value="1109">제1109호 금융상품</option>
                    <option value="1110">제1110호 연결재무제표</option>
                    <option value="1111">제1111호 공동약정</option>
                    <option value="1112">제1112호 타 기업에 대한 지분의 공시</option>
                    <option value="1113">제1113호 공정가치 측정</option>
                    <option value="1114">제1114호 규제이연계정</option>
                    <option value="1115">제1115호 고객과의 계약에서 생기는 수익</option>
                    <option value="1116">제1116호 리스</option>
                    <option value="1001">제1001호 재무제표 표시</option>
                    <option value="1002">제1002호 재고자산</option>
                    <option value="1007">제1007호 현금흐름표</option>
                    <option value="1008">제1008호 회계정책, 회계추정의 변경 및 오류</option>
                    <option value="1010">제1010호 보고기간후사건</option>
                    <option value="1012">제1012호 법인세</option>
                    <option value="1016">제1016호 유형자산</option>
                    <option value="1019">제1019호 종업원급여</option>
                    <option value="1020">제1020호 정부보조금의 회계처리와 정부지원의 공시</option>
                    <option value="1021">제1021호 환율변동효과</option>
                    <option value="1023">제1023호 차입원가</option>
                    <option value="1024">제1024호 특수관계자공시</option>
                    <option value="1026">제1026호 퇴직급여제도에 의한 회계처리와 보고</option>
                    <option value="1027">제1027호 별도재무제표</option>
                    <option value="1028">제1028호 관계기업과 공동기업에 대한 투자</option>
                    <option value="1029">제1029호 초인플레이션 경제에서의 재무보고</option>
                    <option value="1032">제1032호 금융상품: 표시</option>
                    <option value="1033">제1033호 주당이익</option>
                    <option value="1034">제1034호 중간재무보고</option>
                    <option value="1036">제1036호 자산손상</option>
                    <option value="1037">제1037호 충당부채, 우발부채, 우발자산</option>
                    <option value="1038">제1038호 무형자산</option>
                    <option value="1039">제1039호 금융상품: 인식과측정</option>
                    <option value="1039">제1039호 금융상품: 인식과측정(제1109호 적용 면제 기업)</option>
                    <option value="1040">제1040호 투자부동산</option>
                    <option value="1041">제1041호 농림어업</option>
                    <option value="2101">제2101호 사후처리 및 복구관련 충당부채의 변경</option>
                    <option value="2102">제2102호 조합원 지분과 유사 지분</option>
                    <option value="2105">제2105호 사후처리, 복구 및 환경정화를 위한 기금의 지분에 대한 권리</option>
                    <option value="2106">제2106호 특정 시장에 참여함에 따라 발생하는 부채: 폐전기·전자제품</option>
                    <option value="2107">제2107호 기업회계기준서 제1029호 ‘초인플레이션 경제에서의 재무보고’에서의 재작성 방법의 적용</option>
                    <option value="2110">제2110호 중간재무보고와 손상</option>
                    <option value="2112">제2112호 민간투자사업</option>
                    <option value="2114">제2114호 기업회계기준서 제1019호: 확정급여자산한도, 최소적립요건 및 그 상호작용</option>
                    <option value="2116">제2116호 해외사업장순투자의 위험회피</option>
                    <option value="2117">제2117호 소유주에 대한 비현금자산의 분배</option>
                    <option value="2119">제2119호 지분상품에 의한 금융부채의 소멸</option>
                    <option value="2120">제2120호 노천광산 생산단계의 박토원가</option>
                    <option value="2121">제2121호 부담금</option>
                    <option value="2122">제2122호 외화 거래와 선지급·선수취 대가</option>
                    <option value="2123">제2123호 법인세 처리의 불확실성</option>
                    <option value="2010">제2010호 정부지원: 영업활동과 특정한 관련이 없는 경우</option>
                    <option value="2025">제2025호 법인세: 기업이나 주주의 납세지위 변동</option>
                    <option value="2029">제2029호 민간투자사업: 공시</option>
                    <option value="2032">제2032호 무형자산: 웹 사이트 원가</option>
                </select>
            </div>
            <div class="sidebar border-top" id="std-index">

            </div>
        </div>

        <div class="col-lg-8 main" id="std-content">



        </div>
    </div>
</div>
{% endblock %}