<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
    th {
        background-color: #f5f5f5
    }

    table{
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }

    th{
        border: 1px solid #ddd; 
        background-color: #f5f5f5
    }

    td {
        border: 1px solid #ddd;
    }

</style>

<body>
    <table>
        <th>제․개정일자</th>
        <th>한국채택국제회계기준</th>
        <th>관련되는 국제회계기준</th>
        <tr>
            <td>2019. 4.19. 개정</td>
            <td>중요성의 정의</td>
            <td>Amendments to IAS 1 and IAS 8: Definition of Material</td>
        </tr>
        <tr>
            <td>2015. 5.26. 개정</td>
            <td>재무제표 표시</td>
            <td>Disclosure Initiative: Amendments to IAS 1</td>
        </tr>
        <tr>
            <td>2012. 9.28. 개정</td>
            <td>한국채택국제회계기준 연차개선</td>
            <td>Improvements to IFRSs</td>
        </tr>
        <tr>
            <td>2012. 9.28. 개정</td>
            <td>영업이익 공시</td>
            <td></td>
        </tr>
        <tr>
            <td>2012. 1.27. 개정 </td>
            <td>기타포괄손익 항목의 표시</td>
            <td>Amendment to IAS 1 Presentation of Financial Statements: Presentation of Items of Other Comprehensive
                Income</td>
        </tr>
        <tr>
            <td>2010.11.19. 개정</td>
            <td>영업손익 관련 사항의 주석공시</td>
            <td>-</td>
        </tr>
        <tr>
            <td>2010. 8.27. 개정</td>
            <td>한국채택국제회계기준 연차개선</td>
            <td>Improvements to IFRSs</td>
        </tr>
        <tr>
            <td>2009. 6.26. 개정</td>
            <td>한국채택국제회계기준 연차개선</td>
            <td>Improvements to IFRSs</td>
        </tr>
        <tr>
            <td>2009. 2.13. 개정</td>
            <td>이익잉여금처분계산서(또는 결손금처리계산서)의 주석공시</td>
            <td>-</td>
        </tr>
        <tr>
            <td>2008.11.28. 개정</td>
            <td>한국채택국제회계기준 연차개선</td>
            <td>Improvements to IFRSs</td>
        </tr>
        <tr>
            <td>2008.10.24. 개정</td>
            <td>풋가능 금융상품과 청산시 발생하는 의무</td>
            <td>Amendments to IAS 32 and IAS 1 ‘Puttable Financial Instruments and Obligations arising on Liquidation'
            </td>
        </tr>
        <tr>
            <td>2007.11.23. 제정</td>
            <td>재무제표 표시</td>
            <td>IAS 1 Presentation of Financial Statements</td>
        </tr>
    </table>


</body>

</html>