{% extends "layout.html" %}

<!-- SUB-NAV   -->
{% block sub_nav %}
{% endblock %}

<!-- container -->
{% block container %}
<div id="container">

    <div style="height: 25vh"></div>
    <div style="text-align: center;">
        <h1>회계기준 검색 쉽게하자</h1>
    </div>

    <div class="row justify-content-center" style="margin-top: 50px;">
        <a type="button" class="btn btn-outline-secondary mx-3 mt-3" href="/kifrs">K-IFRS</a>
        <a type="button" class="btn btn-outline-secondary mx-3 mt-3" href="/kifrsfaq">K-IFRS 질의회신</a>
        <a type="button" class="btn btn-outline-secondary mx-3 mt-3" href="/kgaap">일반기업회계기준</a>
        <a type="button" class="btn btn-outline-secondary mx-3 mt-3" href="/kgaapfaq">일반기업 질의회신</a>
    </div>


    
</div>
<div style="height: 30vh"></div>
</div>
{% endblock %}