<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function aaaa(){
      console.log("aaaa")
      $('#modal-body').html('');
      let new_modal_body = "fdsafdsafdsa   fdsafdsafds   fdsafdsa"
      let temp_html_body = `
                      ${new_modal_body}
                      `
      $('#modal-body').append(temp_html_body);

      $('#exampleModalLabel').html('');
      let new_modal_title = "fdsafdsafdsa   fdsafdsafds   fdsafdsa"
      let temp_html_title = `
                            ${new_modal_title}
                            `
      $('#exampleModalLabel').append(temp_html_title);
    }

    
  function openPopup(){
    let pop_url = "popup.html";
    let pop_name = "popup test";;
    let pop_option = "width = 500, height = 500, top = 100, left = 200";
    window.open(pop_url, pop_name, pop_option);
}

function closePopup(){
    // opener.location.href="xxx.html"   페이지 이동후 닫기 할때
    self.close();
}


  </script>
 
</head>

<body>
  <div>
  <!-- popuptest -->

  <h1>팝업</h1>
  <a href="#" onclick="openPopup();">문단5~7</a>

 </div>

</body>

</html>